<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>食品部</title>
    <style type="text/css">
        .demo-table-expand {
            font-size: 0;
        }
        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }
        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app">
    <template>
        <div>
            <el-input
                    v-model="search"
                    size="mini"
                    @blur="searchBy()"
                    placeholder="输入信息进行查找"/>
        </div>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="商品名称">
                            <span>{{ props.row.goodsName }}</span>
                        </el-form-item>
                        <el-form-item label="厂家信息">
                            <span>{{ props.row.suppliers }}</span>
                        </el-form-item>
                        <el-form-item label="商品 ID">
                            <span>{{ props.row.goodsId }}</span>
                        </el-form-item>
                        <el-form-item label="库存数量">
                            <span>{{ props.row.stock }}</span>
                        </el-form-item>
                        <el-form-item label="商品分类">
                            <span>{{ props.row.typeName }}</span>
                        </el-form-item>
                        <el-form-item label="进货价格">
                            <span>{{ props.row.purchasePrice }}</span>
                        </el-form-item>
                        <el-form-item label="售价">
                            <span>{{ props.row.price }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column
                    label="商品 ID"
                    prop="goodsId">
            </el-table-column>
            <el-table-column
                    label="商品名称"
                    prop="goodsName">
            </el-table-column>
            <el-table-column
                    label="供货厂家"
                    prop="suppliers">
            </el-table-column>
        </el-table>
        <div class="pagination-container">
            <el-pagination
                    class="pagiantion"
                    @current-change="handleCurrentChange"
                    :current-page="pagination.currentPage"
                    :page-size="pagination.pageSize"
                    layout="total, prev, pager, next, jumper"
                    :total="pagination.total">
            </el-pagination>
        </div>
    </template>
</div>

</body>
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui@2.15.13/lib/index.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.13/lib/theme-chalk/index.css">
<script type="text/javascript" src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/axios-0.18.0.js"></script>
<script type="text/javascript">
    var Main = {
        methods: {
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.getAll();
            },
            handleChange(value) {
                console.log(value);
            },
            getAll(){
                var param = {
                    currentPage:this.pagination.currentPage,
                    pageSize:this.pagination.pageSize,
                    queryString:this.pagination.queryString
                };
                //发送ajax请求
                axios.post("/module/1001",param).then((res) => {
                    this.tableData = res.data.data;
                });
                axios.get("/module/"+"1001").then((res)=>{
                    this.pagination.total = res.data;
                });
            },
            searchBy(){
                var param={
                    search:this.search,
                    typePId:"1001"
                };
                if(this.search!=""){
                    alert(this.search)
                    axios.post("/module/search",param).then((res)=>{
                        this.tableData = res.data.data;
                        console.log(this.tableData)
                    })
                }else {
                    this.getAll();
                }

            },
        },
        created(){
            this.getAll();
        },
        data() {
            return {
                pagination: {//分页相关模型数据
                    currentPage: 1,//当前页码
                    pageSize: 5,//每页显示的记录数
                    total: 0,//总记录数
                    queryString:null//查询条件
                },
                tableData: [],
                search: ''
            };
        }
    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount("#app");

</script>
</html>
